.homepage {
  display: "grid";
  grid:
    "nav nav nav nav nav" 100px
    "header header header header header" 100vh
    "main main main" 1fr
    "footer footer footer footer footer" 200px
    / repeat(5, 1fr);
}

.contentpage {
  display: "grid";
  grid: "nav nav nav" 100px "aside main section" 1fr "footer footer footer"
      100px / 162px,
    1fr, 162px;
}

.listingpage {
}

.gallarypage {
}

.articlepage {
  display: "grid";
  grid:
    "nav nav nav nav nav" 100px
    "header header header header header" 100vh
    "main main main" 1fr
    "footer footer footer footer footer" 200px
    / repeat(5, 1fr);
}

.gallarypage {
  display: "grid";
  grid:
    "nav nav nav nav nav" 100px
    "header header header header header" 100vh
    "main main main" 1fr
    "footer footer footer footer footer" 200px
    / repeat(5, 1fr);
}

.reviewpage {
  display: "grid";
  grid:
    "nav nav nav nav nav" 100px
    "header header header header header" 100vh
    "main main main" 1fr
    "footer footer footer footer footer" 200px
    / repeat(5, 1fr);
}

.aboutpage {
  display: "grid";
  grid:
    "nav nav nav nav nav" 100px
    "header header header header header" 100vh
    "main main main" 1fr
    "footer footer footer footer footer" 200px
    / repeat(5, 1fr);
}

.verticalpage {
  display: "grid";
  grid:
    "nav nav nav nav nav" 100px
    "header header header header header" 100vh
    "main main main" 1fr
    "footer footer footer footer footer" 200px
    / repeat(5, 1fr);
}

.firmpage {
  display: "grid";
  grid:
    "nav nav nav nav nav" 100px
    "header header header header header" 100vh
    "main main main" 1fr
    "footer footer footer footer footer" 200px
    / repeat(5, 1fr);
}

.quizpage {
  display: "grid";
  grid:
    "nav nav nav nav nav" 100px
    "header header header header header" 100vh
    "main main main" 1fr
    "footer footer footer footer footer" 200px
    / repeat(5, 1fr);
}

nav {
  grid-area: nav;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
section {
  grid-area: section;
}
aside {
  grid-area: aside;
}
article {
  grid-area: article;
}
